#produits-grid
{
	margin: 50px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	grid-gap: 40px;
}

.produits-card
{
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.7);
	position: relative;
	z-index: 1;

	&::after
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background-color: white;
		z-index: 2;
		opacity: 0;
		transition: opacity 300ms;
	}

	&:hover
	{
		text-decoration: none;

		&::after
		{
			opacity: 0.6;
		}
	}

	&__heading
	{
		color: $primary-color;

		@include tablette-only
		{
			font-size: 1.2em;
		}
	}

	&__prix
	{
		color: #000000;

		@include tablette-only
		{
			font-size: 0.9em;
		}
	}

	&__img
	{
		height: 275px;
		object-fit: cover;

		@include tablette-only
		{
			height: auto;
		}
	}
}
