.commande
{
	border: 2px solid $primary-color;
	text-align: left;
	padding: 20px;
	margin-top: 20px;
}

.submit-btn
{
	margin-top: 20px;
	width: 200px;
	height: 50px;
}

.greenBorder
{
	border : 2px solid green;
}

.redBorder 
{
	border : 2px solid red;
}