#form-container, .commande
{
	border: 2px solid $primary-color;
	text-align: left;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 100px;
}

.submit-btn
{
	margin-top: 20px;
	width: 200px;
	height: 50px;
}

.greenBorder
{
	border : 2px solid green;
}

.redBorder 
{
	border : 2px solid red;
}

.ligne
{
	border: 1px solid black;
	margin-bottom: 20px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bouton-panier
{
	margin-top: 10px;
}

#prix-total
{
	text-align: right;
}

span
{
	margin-right: 20px;
}

.confirmation
{
	&__heading
	{
		color: green;
		text-align: center;
	}
}