$bg-color: #f3e9f1;
$primary-color: #8f5bfe;
$secondary-color: #e78b07;
$tertiary-color: #b6708f;

$primary-typo: 'Merriweather Sans', sans-serif;

$breakpoints: 
(
	tablette: 768px,
	desktop: 1200px
);
